config FPGA_LATTICE
	bool "Lattice Devices"
	default y
	help
	  If you have a lattic fpga, say Y.

if FPGA_LATTICE

config FPGA_MGR_ICE40_SPI
	tristate "Lattice iCE40 SPI"
	depends on OF && SPI
	help
	  FPGA manager driver support for Lattice iCE40 FPGAs over SPI.

config FPGA_MGR_MACHXO2_SPI
	tristate "Lattice MachXO2 SPI"
	depends on SPI
	help
	  FPGA manager driver support for Lattice MachXO2 configuration
	  over slave SPI interface.

endif #FPGA_LATTICE
