# SPDX-License-Identifier: GPL-2.0-only
#
# Integrity Policy Enforcement (IPE) configuration
#

menuconfig SECURITY_IPE
	bool "Integrity Policy Enforcement (IPE)"
	depends on SECURITY && SECURITYFS
	select PKCS7_MESSAGE_PARSER
	select SYSTEM_DATA_VERIFICATION
	help
	  This option enables the Integrity Policy Enforcement subsystem
	  allowing systems to enforce integrity having no dependencies
	  on filesystem metadata, making its decisions based off of kernel-
	  resident features and data structures. A key feature of IPE is a
	  customizable policy to allow admins to reconfigure integrity
	  requirements on the fly.

	  If unsure, answer N.

if SECURITY_IPE

config IPE_BOOT_POLICY
	string "Integrity policy to apply on system startup"
	help
	  This option specifies a filepath to a IPE policy that is compiled
	  into the kernel. This policy will be enforced until a policy update
	  is deployed via the $securityfs/ipe/policies/$policy_name/active
	  interface.

	  If unsure, leave blank.

choice
	prompt "Hash algorithm used in auditing policies"
	default IPE_AUDIT_HASH_SHA1
	depends on AUDIT
	help
		Specify the hash algorithm used when auditing policies.
		The hash is used to uniquely identify a policy from other
		policies on the system.

		If unsure, leave default.

	config IPE_AUDIT_HASH_SHA1
		bool "sha1"
		depends on CRYPTO_SHA1
		help
			Use the SHA128 algorithm to hash policies
			in the audit records.

	config IPE_AUDIT_HASH_SHA256
		bool "sha256"
		depends on CRYPTO_SHA256
		help
			Use the SHA256 algorithm to hash policies
			in the audit records.

	config IPE_AUDIT_HASH_SHA384
		bool "sha384"
		depends on CRYPTO_SHA512
		help
			Use the SHA384 algorithm to hash policies
			in the audit records

	config IPE_AUDIT_HASH_SHA512
		bool "sha512"
		depends on CRYPTO_SHA512
		help
			Use the SHA512 algorithm to hash policies
			in the audit records
endchoice

config IPE_AUDIT_HASH_ALG
	string
	depends on AUDIT
	default "sha1" if IPE_AUDIT_HASH_SHA1
	default "sha256" if IPE_AUDIT_HASH_SHA256
	default "sha384" if IPE_AUDIT_HASH_SHA384
	default "sha512" if IPE_AUDIT_HASH_SHA512

source "security/ipe/modules/Kconfig"

config SECURITY_IPE_KUNIT_TEST
	bool "Build KUnit tests for IPE" if !KUNIT_ALL_TESTS
	depends on KUNIT=y
	default KUNIT_ALL_TESTS
	help
	  This builds the IPE KUnit tests.

	  KUnit tests run during boot and output the results to the debug log
	  in TAP format (https://testanything.org/). Only useful for kernel devs
	  running KUnit test harness and are not for inclusion into a
	  production build.

	  For more information on KUnit and unit tests in general please refer
	  to the KUnit documentation in Documentation/dev-tools/kunit/.

	  If unsure, say N.

endif
