# SPDX-License-Identifier: GPL-2.0
#
# Entropy Source and DRNG Manager configuration
#

config CRYPTO_ESDM
	bool "ESDM Implementation"
	default n
	select CRYPTO_LIB_SHA256 if CRYPTO
	help
	  The Entropy Source and DRNG Manager (ESDM) generates entropy
	  from different entropy sources. Each entropy source can
	  be enabled and configured independently. The interrupt
	  entropy source can be configured to be SP800-90B compliant.
	  The entire ESDM can be configured to be SP800-90C compliant.
	  Runtime-switchable cryptographic support is available.
	  The ESDM delivers significant entropy during boot.

	  The ESDM also provides compliance to SP800-90A/B/C.

menu "Entropy Source and DRNG Manager Configuration"
	depends on CRYPTO_ESDM

if CRYPTO_ESDM

config CRYPTO_ESDM_SHA256
	bool
	default y if CRYPTO_LIB_SHA256

menu "Specific DRNG seeding strategies"

config CRYPTO_ESDM_OVERSAMPLE_ENTROPY_SOURCES
	bool "Oversample entropy sources"
	default n
	help
	  When enabling this option, the entropy sources are
	  over-sampled with the following approach: First, the
	  the entropy sources are requested to provide 64 bits more
	  entropy than the size of the entropy buffer. For example,
	  if the entropy buffer is 256 bits, 320 bits of entropy
	  is requested to fill that buffer.

	  Second, the seed operation of the deterministic RNG
	  requests 128 bits more data from each entropy source than
	  the security strength of the DRNG during initialization.
	  A prerequisite for this operation is that the digest size
	  of the used hash must be at least equally large to generate
	  that buffer. If the prerequisite is not met, this
	  oversampling is not applied.

	  This strategy is intended to offset the asymptotic entropy
	  increase to reach full entropy in a buffer.

	  The strategy is consistent with the requirements in
	  NIST SP800-90C and is only enforced with fips=1.

	  If unsure, say N.

config CRYPTO_ESDM_OVERSAMPLE_ES_BITS
	int
	default 0 if !CRYPTO_ESDM_OVERSAMPLE_ENTROPY_SOURCES
	default 64 if CRYPTO_ESDM_OVERSAMPLE_ENTROPY_SOURCES

config CRYPTO_ESDM_SEED_BUFFER_INIT_ADD_BITS
	int
	default 0 if !CRYPTO_ESDM_OVERSAMPLE_ENTROPY_SOURCES
	default 128 if CRYPTO_ESDM_OVERSAMPLE_ENTROPY_SOURCES

endmenu # "Specific DRNG seeding strategies"

menu "Entropy Source Configuration"

config CRYPTO_ESDM_RUNTIME_ES_CONFIG
	bool "Enable runtime configuration of entropy sources"
	help
	  When enabling this option, the ESDM provides the mechanism
	  allowing to alter the entropy rate of each entropy source
	  during boot time and runtime.

	  Each entropy source allows its entropy rate changed with
	  a kernel command line option. When not providing any
	  option, the default specified during kernel compilation
	  is applied.

comment "Jitter RNG Entropy Source"

config CRYPTO_ESDM_JENT
	bool "Enable Jitter RNG as ESDM Seed Source"
	depends on CRYPTO
	select CRYPTO_JITTERENTROPY
	help
	  The Linux RNG may use the Jitter RNG as entropy source. Enabling
	  this option enables the use of the Jitter RNG. Its default
	  entropy level is 16 bits of entropy per 256 data bits delivered
	  by the Jitter RNG. This entropy level can be changed at boot
	  time or at runtime with the esdm_base.jitterrng configuration
	  variable.

config CRYPTO_ESDM_JENT_ENTROPY_RATE
	int "Jitter RNG Entropy Source Entropy Rate"
	depends on CRYPTO_ESDM_JENT
	range 0 256
	default 16
	help
	  The option defines the amount of entropy the ESDM applies to 256
	  bits of data obtained from the Jitter RNG entropy source. The
	  ESDM enforces the limit that this value must be in the range
	  between 0 and 256.

	  When configuring this value to 0, the Jitter RNG entropy source
	  will provide 256 bits of data without being credited to contain
	  entropy.

comment "Kernel RNG Entropy Source"

config CRYPTO_ESDM_KERNEL_RNG
	bool "Enable Kernel RNG as ESDM Seed Source"
	help
	  The Linux RNG may use the kernel RNG (random.c) as entropy
	  source.

config CRYPTO_ESDM_KERNEL_RNG_ENTROPY_RATE
	int "Kernel RNG Entropy Source Entropy Rate"
	depends on CRYPTO_ESDM_KERNEL_RNG
	range 0 256
	default 256
	help
	  The option defines the amount of entropy the ESDM applies to 256
	  bits of data obtained from the kernel RNG entropy source. The
	  ESDM enforces the limit that this value must be in the range
	  between 0 and 256.

	  When configuring this value to 0, the kernel RNG entropy source
	  will provide 256 bits of data without being credited to contain
	  entropy.

	  Note: This value is set to 0 automatically when booting the
	  kernel in FIPS mode (with fips=1 kernel command line option).
	  This is due to the fact that random.c is not SP800-90B
	  compliant.

endmenu # "Entropy Source Configuration"

config CRYPTO_ESDM_DRNG_KCAPI
	bool
	depends on CRYPTO
	select CRYPTO_RNG
	default y

endif # CRYPTO_ESDM

endmenu # CRYPTO_ESDM
