# SPDX-License-Identifier: GPL-2.0
#
# PATA_PARPORT configuration
#
# PATA_PARPORT doesn't need PARPORT, but if PARPORT is configured as a module,
# PATA_PARPORT must also be a module.
# PATA_PARPORT only supports PC style parports. Tough for USB or other parports...

comment "Parallel IDE protocol modules"
	depends on PATA_PARPORT

config PATA_PARPORT_ATEN
	tristate "ATEN EH-100 protocol"
	depends on PATA_PARPORT
	help
	  This option enables support for the ATEN EH-100 parallel port IDE
	  protocol. This protocol is used in some inexpensive low performance
	  parallel port kits made in Hong Kong. If you chose to build PATA_PARPORT
	  support into your kernel, you may answer Y here to build in the
	  protocol driver, otherwise you should answer M to build it as a
	  loadable module. The module will be called aten.
