config DRM_IMX_DPU
	tristate "DRM support for Freescale i.MX DPU Graphics"
	select DRM_KMS_HELPER
	select VIDEOMODE_HELPERS
	select DRM_GEM_CMA_HELPER
	select DRM_KMS_CMA_HELPER
	depends on DRM && OF && ARCH_MXC
	depends on COMMON_CLK
	help
	  enable Freescale i.MX DPU graphics support
