# SPDX-License-Identifier: GPL-2.0-only

comment "STMicroelectronics drivers"

source "drivers/media/platform/sti/bdisp/Kconfig"
source "drivers/media/platform/sti/c8sectpfe/Kconfig"
source "drivers/media/platform/sti/delta/Kconfig"
source "drivers/media/platform/sti/hva/Kconfig"
source "drivers/media/platform/sti/stm32/Kconfig"
