# SPDX-License-Identifier: GPL-2.0-only
source "drivers/media/platform/ti/am437x/Kconfig"
source "drivers/media/platform/ti/davinci/Kconfig"
source "drivers/media/platform/ti/omap/Kconfig"
source "drivers/media/platform/ti/omap3isp/Kconfig"
source "drivers/media/platform/ti/vpe/Kconfig"
