# SPDX-License-Identifier: MIT
#
# ultrasoc configuration
#

menuconfig ULTRASOC
	tristate "Ultrasoc Tracing Support"
	select CORESIGHT
	help
	  This framework provides a kernel interface for the Ultrasoc trace
	  drivers to register themselves with. It's intended to build
	  a topological view of the Ultrasoc components based on ACPI
	  specification and configure the right series of components when a
	  trace source gets enabled.

if ULTRASOC
config ULTRASOC_AXI_COM
	tristate "Ultrasoc AXI communicator drivers"
	help
	  This config enables support for Ultrasoc AXI Bus Communicator
	  drivers. The AXI Communicator has upstream and downstream channels,
	  the upstream channel is used to transmit user configuration, and
	  downstream channel to carry response and trace data to the users.

config ULTRASOC_SMB
	tristate "Ultrasoc System memory buffer drivers"
	help
	  This config enables support for Ultrasoc System Memory Buffer
	  drivers. The System Memory Buffer provides a way to buffer and
	  store messages in system memory. It provides a capability to
	  store messages received on its input message interface to an
	  area of system memory.

endif
