# SPDX-License-Identifier: GPL-2.0-only
config NVME_QEDN
	tristate "Marvell NVM Express over Fabrics TCP offload"
	depends on NVME_TCP_OFFLOAD
	select QED_NVMETCP
	help
	  This enables the Marvell NVMe TCP offload support (qedn).

	  If unsure, say N.
