// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree For AC5.
 *
 * Copyright (C) 2021 Marvell
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	model = "Marvell AC5 SoC";
	compatible = "marvell,ac5", "marvell,armada3700";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart0;
		spiflash0 = &spiflash0;
		gpio0 = &gpio0;
		gpio1 = &gpio1;
		ethernet0 = &eth0;
		ethernet1 = &eth1;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>,
				 <GIC_PPI 8 IRQ_TYPE_LEVEL_HIGH>,
				 <GIC_PPI 10 IRQ_TYPE_LEVEL_HIGH>,
				 <GIC_PPI 7 IRQ_TYPE_LEVEL_HIGH>;
		clock-frequency = <25000000>;
	};

	pmu {
		compatible = "arm,armv8-pmuv3";
		interrupts = <GIC_PPI 12 IRQ_TYPE_LEVEL_HIGH>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		dma-ranges;

		internal-regs@7f000000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "simple-bus";
			/* 16M internal register @ 0x7f00_0000 */
			ranges = <0x0 0x0 0x7f000000 0x1000000>;
			dma-coherent;

			uart0: serial@12000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x12000 0x100>;
				reg-shift = <2>;
				interrupts = <GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>;
				reg-io-width = <1>;
				clock-frequency = <328000000>;
				status = "okay";
			};

			mdio: mdio@20000 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "marvell,orion-mdio";
				reg = <0x22004 0x4>;
				clocks = <&core_clock>;
			};

			i2c0: i2c@11000{
				compatible = "marvell,mv78230-i2c";
				reg = <0x11000 0x20>;

				clocks = <&core_clock>;
				clock-names = "core";
				interrupts = <GIC_SPI 87 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency=<100000>;
				status="okay";

				pinctrl-names = "default", "gpio";
				pinctrl-0 = <&i2c0_pins>;
				pinctrl-1 = <&i2c0_gpio>;
				scl_gpio = <&gpio0 26 GPIO_ACTIVE_HIGH>;
				sda_gpio = <&gpio0 27 GPIO_ACTIVE_HIGH>;
			};

			i2c1: i2c@11100{
				compatible = "marvell,mv78230-i2c";
				reg = <0x11100 0x20>;

				clocks = <&core_clock>;
				clock-names = "core";
				interrupts = <GIC_SPI 88 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency=<100000>;
				status="okay";

				pinctrl-names = "default", "gpio";
				pinctrl-0 = <&i2c1_pins>;
				pinctrl-1 = <&i2c1_gpio>;
				scl_gpio = <&gpio0 20 GPIO_ACTIVE_HIGH>;
				sda_gpio = <&gpio0 21 GPIO_ACTIVE_HIGH>;
			};

			system-controller@18000 {
				compatible = "syscon", "simple-mfd";
				reg = <0x18000 0x200>;

				gpio0: gpio@100 {
					compatible = "marvell,armada-8k-gpio";
					offset = <0x100>;
					ngpios = <32>;
					gpio-controller;
					#gpio-cells = <2>;
					gpio-ranges = <&pinctrl0 0 0 32>;
					#pwm-cells = <2>;
				};

				gpio1: gpio@140 {
					compatible = "marvell,armada-8k-gpio";
					offset = <0x140>;
					ngpios = <14>;
					gpio-controller;
					#gpio-cells = <2>;
					gpio-ranges = <&pinctrl0 0 32 14>;
					#pwm-cells = <2>;
				};
			};
		};

		mmc_dma: mmc-dma-peripherals@80500000 {
				compatible = "simple-bus";
				#address-cells = <0x2>;
				#size-cells = <0x2>;
				ranges;
				dma-coherent;

				sdhci0: sdhci@805c0000 {
					compatible = "marvell,ac5-sdhci",
						     "marvell,armada-ap806-sdhci";
					reg = <0x0 0x805c0000 0x0 0x300>;
					reg-names = "ctrl", "decoder";
					interrupts = <GIC_SPI 92 IRQ_TYPE_LEVEL_HIGH>;
					clocks = <&core_clock>;
					clock-names = "core";
					status = "okay";
					bus-width = <8>;
					/*marvell,xenon-phy-slow-mode;*/
					non-removable;
					mmc-ddr-1_8v;
					mmc-hs200-1_8v;
					mmc-hs400-1_8v;
				};
		};

		/*
		 * Dedicated section for devices behind 32bit controllers so we
		 * can configure specific DMA mapping for them
		 */
		behind-32bit-controller@7f000000 {
			compatible = "simple-bus";
			#address-cells = <0x2>;
			#size-cells = <0x2>;
			ranges = <0x0 0x0 0x0 0x7f000000 0x0 0x1000000>;
			/* Host phy ram starts at 0x200M */
			dma-ranges = <0x0 0x0 0x2 0x0 0x1 0x0>;
			dma-coherent;

			eth0: ethernet@20000 {
				compatible = "marvell,armada-ac5-neta";
				reg = <0x0 0x20000 0x0 0x4000>;
				interrupts = <GIC_SPI 45 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&core_clock>;
				status = "disabled";
				phy-mode = "sgmii";
			};

			eth1: ethernet@24000 {
				compatible = "marvell,armada-ac5-neta";
				reg = <0x0 0x24000 0x0 0x4000>;
				interrupts = <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&core_clock>;
				status = "disabled";
				phy-mode = "sgmii";
			};

			/* A dummy entry used for chipidea phy init */
			usb1phy: usbphy {
				compatible = "usb-nop-xceiv";
				#phy-cells = <0>;
			};

			/* USB0 is a host USB */
			usb0: usb@80000 {
				compatible = "marvell,orion-ehci";
				reg = <0x0 0x80000 0x0 0x500>;
				interrupts = <GIC_SPI 67 IRQ_TYPE_LEVEL_HIGH>;
				status = "okay";
			};

			/* USB1 is a peripheral USB */
			usb1: usb@a0000 {
				reg = <0x0 0xa0000 0x0 0x500>;
				interrupts = <GIC_SPI 69 IRQ_TYPE_LEVEL_HIGH>;
				status = "okay";
			};
		};

		system-controller@80020100 {
			compatible = "syscon", "simple-mfd";
			reg = <0 0x80020100 0 0x20>;

			pinctrl0: pinctrl@80020100 {
				compatible = "marvell,ac5-pinctrl";

				i2c0_pins: i2c0-pins {
					marvell,pins = "mpp26", "mpp27";
					marvell,function = "i2c0";
				};

				i2c0_gpio: i2c0-gpio-pins {
					marvell,pins = "mpp26", "mpp27";
					marvell,function = "gpio";
				};

				i2c1_pins: i2c1-pins {
					marvell,pins = "mpp20", "mpp21";
					marvell,function = "i2c1";
				};

				i2c1_gpio: i2c1-gpio-pins {
					marvell,pins = "mpp20", "mpp21";
					marvell,function = "i2c1";
				};
			};
		};

		core_clock: core_clock@0 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <400000000>;
		};

		axi_clock: axi_clock@0 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <325000000>;
		};

		spi_clock: spi_clock@0 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <200000000>;
		};

		spi0: spi@805a0000 {
			compatible = "marvell,armada-3700-spi";
			reg = <0x0 0x805a0000 0x0 0x50>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			clocks = <&spi_clock>;
			interrupts = <GIC_SPI 90 IRQ_TYPE_LEVEL_HIGH>;
			num-cs = <1>;
			status = "disabled";
		};

		spi@805a8000 {
			compatible = "marvell,armada-3700-spi";
			reg = <0x0 0x805a8000 0x0 0x50>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			clocks = <&spi_clock>;
			interrupts = <GIC_SPI 91 IRQ_TYPE_LEVEL_HIGH>;
			num-cs = <1>;
			status = "disabled";
		};
	};

	gic: interrupt-controller@80600000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		interrupt-controller;
		/*#redistributor-regions = <1>;*/
		redistributor-stride = <0x0 0x20000>;	// 128kB stride
		reg = <0x0 0x80600000 0x0 0x10000>, /* GICD */
			  <0x0 0x80660000 0x0 0x40000>; /* GICR */
		interrupts = <GIC_PPI 6 IRQ_TYPE_LEVEL_HIGH>;
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&CPU0>;
				};
				core1 {
					cpu = <&CPU1>;
				};
			};
		};

		CPU0:cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
		};

		CPU1:cpu@1 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
		};

		L2_0: l2-cache0 {
			compatible = "cache";
		};
	};

	memory@0 {
		device_type = "memory";
		reg = <0x2 0x00000000 0x0 0x40000000>;
		// linux,usable-memory = <0x2 0x00000000 0x0 0x80000000>;
	};

};
