# SPDX-License-Identifier: GPL-2.0-only
config CONFIGFS_FS
	tristate "Userspace-driven configuration filesystem"
	select SYSFS
	help
	  configfs is a RAM-based filesystem that provides the converse
	  of sysfs's functionality. Where sysfs is a filesystem-based
	  view of kernel objects, configfs is a filesystem-based manager
	  of kernel objects, or config_items.

	  Both sysfs and configfs can and should exist together on the
	  same system. One is not a replacement for the other.

config CONFIGFS_KUNIT_TEST
	bool "Configfs Kunit test" if !KUNIT_ALL_TESTS
	depends on CONFIGFS_FS && KUNIT=y
	default KUNIT_ALL_TESTS
	help
	  Run the configfs unit tests at boot time. For more information, see
	  also the Kunit documentation in Documentation/dev-tools/kunit/.
