config DRM_LSDC
	tristate "DRM Support for loongson's display controller"
	depends on DRM && PCI
	depends on MACH_LOONGSON64 || LOONGARCH || MIPS || COMPILE_TEST
	select OF
	select CMA if HAVE_DMA_CONTIGUOUS
	select DMA_CMA if HAVE_DMA_CONTIGUOUS
	select DRM_KMS_HELPER
	select DRM_KMS_FB_HELPER
	select DRM_GEM_CMA_HELPER
	select VIDEOMODE_HELPERS
	select BACKLIGHT_PWM if CPU_LOONGSON2K
	select I2C_GPIO if CPU_LOONGSON2K
	select I2C_LS2X if CPU_LOONGSON2K
	default m
	help
	  This is a KMS driver for the display controller in the LS7A1000
	  bridge chip and LS2K1000 SoC. The display controller have two
	  display pipes and it is a PCI device.
	  When using this driver on LS2K1000/LS2K0500 SoC, its framebuffer
	  is located at system memory.
	  If "M" is selected, the module will be called lsdc.

	  If in doubt, say "Y".

config DRM_LSDC_VRAM_DRIVER
	bool "vram helper based device driver support"
	depends on DRM_LSDC
	select DRM_VRAM_HELPER
	default y
	help
	  When using this driver on LS7A1000 + LS3A3000/LS3A4000/LS3A5000
	  platform, the LS7A1000 bridge chip have dedicated video RAM.
	  Pass lsdc.use_vram_helper = 1 to the kernel cmd line will enable
	  this driver mode and then the framebuffer will located at the
	  VRAM at the price of losing PRIME support.

	  If in doubt, say "Y".
