# SPDX-License-Identifier: GPL-2.0
config VIDEO_WAVE_VPU
        tristate "Chips&Media Wave Codec Driver"
        depends on VIDEO_DEV && VIDEO_V4L2 && OF
        select VIDEOBUF2_DMA_CONTIG
        select VIDEOBUF2_VMALLOC
        select V4L2_MEM2MEM_DEV
        select GENERIC_ALLOCATOR
        help
          Chips&Media codec driver
