# SPDX-License-Identifier: GPL-2.0
config KS7010
	tristate "KeyStream KS7010 SDIO support"
	depends on MMC && WIRELESS
	select WIRELESS_EXT
	select WEXT_PRIV
	select FW_LOADER
	help
	  Selecting this option enables the driver for KeyStream KS7010 SDIO
	  hardware found in at least Spectec SDW-821 and SDW-823 microSD cards
	  (FCC-ID "S2Y-WLAN-11G-K" but not FCC-ID "S2Y-WLAN-11B-G" and Spectec
	  SDW-823).
