# SPDX-License-Identifier: GPL-2.0

menu "USB Type-C Multiplexer/DeMultiplexer Switch support"

config TYPEC_MUX_PI3USB30532
	tristate "Pericom PI3USB30532 Type-C cross switch driver"
	depends on I2C
	help
	  Say Y or M if your system has a Pericom PI3USB30532 Type-C cross
	  switch / mux chip found on some devices with a Type-C port.

config TYPEC_MUX_INTEL_PMC
	tristate "Intel PMC mux control"
	depends on ACPI
	depends on INTEL_SCU_IPC
	select USB_ROLE_SWITCH
	help
	  Driver for USB muxes controlled by Intel PMC FW. Intel PMC FW can
	  control the USB role switch and also the multiplexer/demultiplexer
	  switches used with USB Type-C Alternate Modes.

config TYPEC_MUX_TS5USBA224
	tristate "TI TS5USBA224 USB High Speed/Audio switch mux driver"
	select GPIOLIB
	help
	  Say Y or M if your system has a TI TS5USBA224 USB High Speed/Audio
	  switch mux controller paired with a USB Type-C port controller.

	  If you choose to build this driver as a dynamically linked module, the
	  module will be called ts5usba224.ko.

endmenu
