#
# Codec configuration
#

config MXC_VPU_8Q
	tristate "Support for MXC 8Q VPU(Video Processing Unit) Codec"
	depends on ARCH_MXC
	depends on MEDIA_SUPPORT
	depends on VIDEO_DEV
	depends on VIDEO_V4L2
	select V4L2_MEM2MEM_DEV
	select VIDEOBUF2_DMA_CONTIG
	select VIDEOBUF2_VMALLOC
	default y
	help
	  This is a V4L2 driver for NXP MXC 8Q video accelerator hardware.
	  It accelerates encoding and decoding operations on
	  various NXP SoCs.
	  To compile this driver as a module choose m here.
