# SPDX-License-Identifier: GPL-2.0-only

config DRM_LOONGSON
	tristate "DRM support for LS7A bridge chipset"
	depends on DRM && PCI
	depends on CPU_LOONGSON64
	select DRM_KMS_HELPER
	select DRM_VRAM_HELPER
	select DRM_TTM
	select DRM_TTM_HELPER
	default n
	help
	  Support the display controllers found on the Loongson LS7A
	  bridge.
